.achievement-group {
  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    min-height: 215px;
    margin: 10px;
  }

  &__image {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
  }

  .ant-card-actions {
    background: #d9d9d9;
  }

  .ant-card-cover {
    display: flex;
    width: 200px;
    height: 120px;
  }
}
