<nz-page-header>
  <nz-page-header-title>
    <app-back-button backTo="/master"></app-back-button>
    Edit
  </nz-page-header-title>

  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']"><i nz-icon nzType="home"></i></a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/master']">Master</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>Edit</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form
  nz-form
  *ngIf="editForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="editForm"
  [formErrors]="formErrors$ | async"
>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">
      Last Name
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="lastName" id="lastName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">
      First Name
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="firstName" id="firstName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>
      Phone
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="phone" formControlName="phone" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button
        nz-button
        nzType="primary"
        type="submit"
        [nzLoading]="isSubmitting$ | async"
        [disabled]="editForm.invalid"
      >
        Edit
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
