<nz-page-header>
  <nz-page-header-title>
    <app-back-button backTo="/player"></app-back-button>
    Change password
  </nz-page-header-title>

  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']"><i nz-icon nzType="home"></i></a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/player']">Players</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>Change password</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form
  nz-form
  [formGroup]="changePasswordForm"
  *ngIf="changePasswordForm"
  (ngSubmit)="onSubmit()"
  [formErrors]="errors$ | async"
>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="newPassword">
      New password
    </nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
    >
      <input nz-input formControlName="newPassword" id="newPassword" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button
        nz-button
        nzType="primary"
        type="submit"
        [nzLoading]="isSubmitting$ | async"
        [disabled]="changePasswordForm.invalid"
      >
        Save
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
