<nz-page-header nzTitle="Bet">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']"><i nz-icon nzType="home"></i></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Bet</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-table
  #table
  nzSize="middle"
  [nzData]="list$ | async"
  [nzTotal]="currentTotal$ | async"
  [nzLoading]="isLoading$ | async"
  [nzPageSize]="(paginationSearchParams$ | async)?.pageSize"
  [nzPageIndex]="(paginationSearchParams$ | async)?.currentPage"
  (nzPageSizeChange)="pageSizeChange($event)"
  (nzPageIndexChange)="pageIndexChange($event)"
  [nzPageSizeOptions]="[10, 20, 30]"
  [nzShowSizeChanger]="true"
  [nzFrontPagination]="false"
  [nzNoResult]="error"
>
  <thead>
    <tr>
      <th>Competition Name</th>
      <th>Event Name</th>
      <th>Stake</th>
      <th>Profit</th>
      <th>Created At</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.competitionName }}</td>
      <td>{{ data.eventName }}</td>
      <td>{{ data.stake.amount }} {{ data.stake.currency }}</td>
      <td>{{ data.profit.amount }} {{ data.profit.currency }}</td>
      <td>{{ data.createdAt }}</td>
      <td>{{ data.status }}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #error>
  <app-error [error]="error$ | async"></app-error>
</ng-template>
